{% extends "blog/base.html" %}
{% block title %} Вход {% endblock %}
{% block content %}
    <div class="col-md-6 mx-auto">
        <h2> Вход </h2>
        <!-- Вход через вк -->
        <a href="{% url 'accounts:signup'  %}" class="btn btn-link btn-lg active btn-block">Зарегистрироваться</a>
        <a href="{% url 'social:begin' 'vk-oauth2' %}" class="btn btn-link btn-lg active btn-block">Войти через ВК</a>
        <a href="{% url 'social:begin' 'github' %}" class="btn btn-link btn-lg active btn-block">Войти через GitHub</a>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-link btn-lg active btn-block">Войти через Google</a>

        <!-- форма для входа -->
        <form method="post" class="form">
            {{ form.username }}
            {{ form.password }}
            <div class="mb-1">Запомнить меня: {{ form.remember_me }}</div>
            {% csrf_token %}
            <input type="submit" class="btn btn-primary btn-lg" value="Войти">
        </form>

        <!-- Кнопка для сброса пароля -->
        <a href="{% url 'password_reset' %}">Я забыл(а) пароль</a>
    </div>
{% endblock %}