{% load blog_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Подключаем библиотеку -->
    {% load django_bootstrap5 %}

    <!-- Подключаем JS и CSS -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>

    <!-- Вывод сообщения о успешной регистрации -->
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>


    <div id="sidebar">
        <h2>Мой блог</h2>
        <p>Всего написанно постов: {% total_posts %}</p>
        
    <!-- проверка аунтификации пользователя -->
    {% if user.is_authenticated %}
        {% if user.first_name %}
            Привет {{ user.first_name }}
        {% else %}
            Привет {{ user.username }}
        {% endif %}
        
        <p><a href="{% url 'accounts:profile' %}">Мой профиль</a></p>
        <p><a href="{% url 'accounts:logout' %}">Выйти</a></p>
    {% else %}
        <p>Вы не авторизованы</p>
        <p><a href="{% url 'accounts:login' %}">Войти</a></p>
        <p><a href="{% url 'accounts:password_change' %}">Забыли пароль?</a></p>
    {% endif %}

        <!-- Последние написанные посты -->
        <h2>Последние посты</h2>
        {% show_latest_posts 2 %}
        
        <!-- Посты с наибольшим количеством комментариев посты -->
        <h2>Самые заккоментированные посты</h2>
        {% get_most_commented_posts 2 %}
    </div>
</body>
</html>