{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <!-- титульник страницы -->
    <h1>
        {{ post.title }}
    </h1>
    <!-- когда и кем опубликован -->
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    <!-- содержание поста -->
    <h4>
        {{ post.body|markdown }}
    </h4>
    <!-- ссылка на кнопку отправить сообщение -->
    <a href="{% url 'blog:post_share' post.id %}">Sent</a>

    <!-- похожие посты -->
    <h2>Similar posts</h2>
        {% for post in similar_posts %}
            <p>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </p>
        {% empty %}
            There are no similar posts yet.
        {% endfor %}

    <!-- количество комментариев -->
    <h2>
        {% with comments.count as total_comments %}
            Всего комментариев: {{ total_comments }}
        {% endwith %}
    </h2>

    <!-- комментарии -->
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                {{ comment.name }} |
                {{ comment.created }}
            </p>
            {{ comment.body|safe }}
        </div>
    {% empty %}
        <p>Комментариев пока нет</p>
    {% endfor %}

    <!-- кнопки для сортировки комментариев -->
    <form method="get">
      {% csrf_token %}
        <button name="desc">По убыванию</button>
        <button name="asc">По возрастанию</button>
    </form>

    <!-- форма для добавления комментариев -->
    {% include "blog/post/include/comment_form.html" %}
{% endblock %}
