{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
    {% if sent %}
        <h1>Письмо успешно отправлено</h1>
        <p>
            "{{ post.title }}" письмо успешно отправлено
            по адресу {{ form.cleaned_data.to_email }}.
        </p>
    {% else %}
        <h1>Отправить "{{ post.title }}" по почте</h1>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Отправить письмо">
        </form>
    {% endif %}
{% endblock %}